<Modal @ref="ModalRef" Animated Closing="OnModalClosing">
    <ModalContent Centered Size="ModalSize.Small">
        <ModalHeader Class="alert-warning text-uppercase d-flex justify-content-center text-center">
            <ModalTitle Class="text-center">
                <Icon Name="IconName.ExclamationTriangle"></Icon>
                Alerta
            </ModalTitle>
        </ModalHeader>
        <ModalBody>
            <AlertMessage>¿Quiere eliminar este regitro?</AlertMessage>
            @if (!string.IsNullOrEmpty(OtherMessage))
            {
                <br />
                <AlertDescription>@OtherMessage</AlertDescription>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Size="Size.Small" Clicked="OnDelete">
                <Icon Name="IconName.Check"></Icon>
                <b>Sí, Eliminar</b>
            </Button>

            <Button Color="Color.Secondary" Size="Size.Small" Clicked="Close">
                <Icon Name="IconName.Times"></Icon>
                <b>No, Cancelar</b>
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    [Parameter] public EventCallback DeleteRecord { get; set; }

    [Parameter] public string OtherMessage { get; set; }


    private Modal ModalRef;

    public Task Open()
    {
        return ModalRef.Show();
    }

    public Task Close()
    {
        return ModalRef.Hide();
    }

    public async Task OnDelete()
    {
        await DeleteRecord.InvokeAsync();
    }

    private bool cancelClose;
    private Task OnModalClosing(ModalClosingEventArgs e)
    {
        e.Cancel = cancelClose || e.CloseReason != CloseReason.UserClosing;
        return Task.CompletedTask;
    }
}