<Modal @ref="ModalRef" Animated Closing="OnModalClosing">
    <ModalContent Centered Size="ModalSize.Default">        
        <ModalBody>
            <h2 class="text-center">¿Estás Seguro?</h2>
            <br />
            <p class="text-center">Quieres eliminar el registro... (@RecordName)</p>            
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Size="Size.Small" Clicked="OnDelete">
                <Icon Name="IconName.Check"></Icon>
                <b>ACEPTAR</b>
            </Button>

            <Button Background="Background.Transparent" Size="Size.Small" Clicked="Close">                
                <b>CANCELAR</b>
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    [Parameter] public EventCallback DeleteRecord { get; set; }

    [Parameter] public string RecordName { get; set; }
    [Parameter] public string OtherMessage { get; set; }


    private Modal ModalRef;

    public Task Open()
    {
        return ModalRef.Show();
    }

    public Task Close()
    {
        return ModalRef.Hide();
    }

    public async Task OnDelete()
    {
        await DeleteRecord.InvokeAsync();
    }

    private bool cancelClose;
    private Task OnModalClosing(ModalClosingEventArgs e)
    {
        e.Cancel = cancelClose || e.CloseReason != CloseReason.UserClosing;
        return Task.CompletedTask;
    }
}